@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap");

body {
  background-color: hsl(185, 41%, 84%);
  margin: 0;
  font-family: "Space Mono", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.container-title-1 {
  margin: 1rem auto auto auto;
  letter-spacing: 10px;
}

.container-title-2 {
  margin: auto auto 1rem auto;
  letter-spacing: 10px;
}

.user-interface-container {
  background-color: white;
  border-radius: 10px;
}

.bill-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: start;
  margin: auto;
  position: relative;
}

.bill-wrapper h2 {
  font-size: 18px;
  margin: 2rem auto 0 0;
  color: hsl(186, 14%, 43%);
}

.bill span {
  color: hsl(184, 14%, 56%);
  font-size: 24px;
  position: absolute;
  margin: 5px auto auto 1rem;
}

.bill input {
  text-align: right;
  border: none;
  background-color: hsl(189, 41%, 97%);
  font-size: 24px;
  padding: 0.5rem;
  color: hsl(183, 100%, 15%);
  border-radius: 5px;
}

.bill input:focus {
  outline: 2px solid hsl(185, 41%, 84%);
}

.tip-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: start;
  margin: auto;
  position: relative;
}

.tip-wrapper h2 {
  font-size: 18px;
  margin: 2rem auto 0 0;
  color: hsl(186, 14%, 43%);
}

.tip-options-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.tip-options {
  background-color: hsl(183, 100%, 15%);
  color: white;
  width: 100%;
  margin: auto;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem 0;
  cursor: pointer;
}

.custom-tip-option {
  width: 100%;
  margin: auto;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem 0;
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
  border: none;
}

.number-of-people-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: start;
  margin: auto auto 1.5rem auto;
  position: relative;
}

.number-of-people-wrapper h2 {
  font-size: 18px;
  margin: 2rem auto 0 0;
  color: hsl(186, 14%, 43%);
}

.number-of-people-wrapper span {
  color: hsl(184, 14%, 56%);
  font-size: 24px;
  position: absolute;
  margin: 5px auto auto 1rem;
}

.number-of-people-wrapper input {
  text-align: right;
  border: none;
  background-color: hsl(189, 41%, 97%);
  font-size: 24px;
  padding: 0.5rem;
  color: hsl(183, 100%, 15%);
  border-radius: 5px;
}

.subtotal-wrapper {
  display: grid;
  grid-template-rows: 1fr 0.75fr 0.5fr;
  width: 80%;
  margin: auto auto 1.5rem auto;
  position: relative;
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
}

.tip-amount-wrapper {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
  margin: 1rem auto 0 auto;
}

.tip-amount-wrapper h3 {
  color: white;
  grid-column: 1;
  grid-row: 1;
  margin: 2rem auto 0 0;
}

.per-person {
  grid-column: 1;
  grid-row: 2;
  color: hsl(184, 14%, 56%);
  margin: 0 0 auto 0;
}

.tip-amount {
  grid-column: 2;
  grid-row: 1 / -1;
  color: hsl(185, 41%, 84%);
  font-size: 36px;
  margin: auto 0 auto auto;
}

.total-amount-wrapper {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto auto auto;
}

.total-amount-wrapper h3 {
  color: white;
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto 0 0;
}

.total-amount {
  grid-column: 2;
  grid-row: 1 / -1;
  color: hsl(185, 41%, 84%);
  font-size: 36px;
  margin: auto 0 auto auto;
}

.reset-btn {
  grid-row: 3;
  background-color: hsl(185, 41%, 84%);
  margin: 0 auto 1rem auto;
  font-size: 24px;
  width: 80%;
  height: 70%;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}
