@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/* whole site */
:root {
  --header-color: hsl(229, 31%, 21%);
  --p-color: hsl(229, 8%, 60%);
}

html {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.logo {
  transform: scale(1.1);
  margin-left: 1rem;
}

.hamburger-icon {
  height: 25px;
  width: 30px;
  margin-right: 1rem;
}

/* tab-1 */
.feature-tab-1-container {
  background-image: url("");
  margin: 7rem auto 7rem auto;
  width: 90%;
}

.features-tab-1-img {
  max-width: 90%;
  border: 10px solid black;
  border-radius: 15px;
}

.feature-tab-1-container h1 {
  font-size: 2rem;
  margin: 4rem auto auto auto;
  text-align: center;
  color: var(--header-color);
}

.feature-tab-1-container p {
  text-align: center;
  line-height: 1.7;
  color: var(--p-color);
}

.button-wrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.chrome-btn {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 1px 4px 10px 0 hsl(229, 8%, 60%, 0.3);
  cursor: pointer;
}

.firefox-btn {
  background-color: white;
  color: black;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 1px 4px 10px 0 hsl(229, 8%, 60%, 0.3);
  cursor: pointer;
}

/* tab-2 */
.feature-tab-2-container {
  margin: auto auto 4rem auto;
  width: 90%;
}

.feature-tab-2-container h2 {
  font-size: 1.6rem;
  margin: auto;
  text-align: center;
  color: var(--header-color);
}

.feature-tab-2-container p {
  text-align: center;
  line-height: 1.7;
  color: var(--p-color);
}

.features-wrapper {
  margin: 2rem auto 2rem auto;
}

.features-wrapper li {
  list-style-type: none;
  color: var(--header-color);
  text-align: center;
  border-bottom: 1px solid hsl(229, 8%, 60%, 0.5);
  padding: 1.25rem 0 1.25rem 0;
  width: 100%;
  cursor: pointer;
}

.features-wrapper li:first-child {
  border-top: 1px solid hsl(229, 8%, 60%, 0.5);
}

/* tab-3 */
.feature-tab-3-container {
  margin: auto auto 4rem auto;
  width: 90%;
}

.features-tab-3-img-wrapper {
  margin-bottom: 3rem;
}

.feature-tab-3-container h2 {
  font-size: 1.6rem;
  margin: auto;
  text-align: center;
  color: var(--header-color);
}

.feature-tab-3-container p {
  text-align: center;
  line-height: 1.7;
  color: var(--p-color);
}

/* tab-4 */
.feature-tab-4-container {
  margin: auto auto 4rem auto;
  width: 90%;
}

.feature-tab-4-container h2 {
  font-size: 1.6rem;
  margin: auto;
  text-align: center;
  color: var(--header-color);
}

.feature-tab-4-container p {
  text-align: center;
  line-height: 1.7;
  color: var(--p-color);
}

/* 
extension container within tab-4 */
.extension-container {
  margin: 3rem auto 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.extension-wrapper {
  box-shadow: 1px 4px 10px 0 hsl(229, 8%, 60%, 0.3);
  border-radius: 10px;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.extension-img-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.extension-img {
  margin: auto;
  display: flex;
  padding: 2rem;
}

.extension-img-wrapper h3 {
  margin: auto auto auto auto;
}

.extension-img-wrapper p {
  margin: 0.5rem auto 2rem auto;
}

.divider {
  width: 100%;
  padding-bottom: 1.5rem;
}

.add-btn-wrapper {
  margin: auto;
  padding-bottom: 1.5rem;
}

.install-btn {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 1px 4px 10px 0 hsl(229, 8%, 60%, 0.3);
  cursor: pointer;
}

/* faq-container */
.faq-container {
  margin: auto auto 4rem auto;
  width: 90%;
}

.faq-container h2 {
  font-size: 1.6rem;
  margin: auto;
  text-align: center;
  color: var(--header-color);
}

.faq-container p {
  text-align: center;
  line-height: 1.7;
  color: var(--p-color);
}
