@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/* whole site */
:root {
  --header-color: hsl(229, 31%, 21%);
  --p-color: hsl(229, 8%, 60%);
}

html {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.logo {
  transform: scale(1.1);
  margin-left: 1rem;
}

.hamburger-icon {
  height: 25px;
  width: 30px;
  margin-right: 1rem;
  cursor: pointer;
}

/* tab-1 */
.feature-tab-1-container {
  background-image: url("");
  margin: 7rem auto 7rem auto;
  width: 90%;
}

.features-tab-1-img {
  max-width: 90%;
  border: 10px solid black;
  border-radius: 15px;
}

.feature-tab-1-container h1 {
  font-size: 2rem;
  margin: 4rem auto auto auto;
  text-align: center;
  color: var(--header-color);
}

.feature-tab-1-container p {
  text-align: center;
  line-height: 1.7;
  color: var(--p-color);
}

.button-wrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.chrome-btn {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 1px 4px 10px 0 hsl(229, 8%, 60%, 0.3);
  cursor: pointer;
}

.firefox-btn {
  background-color: white;
  color: black;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 1px 4px 10px 0 hsl(229, 8%, 60%, 0.3);
  cursor: pointer;
}

/* tab-2 */
.feature-tab-2-container {
  margin: auto auto 4rem auto;
  width: 90%;
}

.feature-tab-2-container h2 {
  font-size: 1.6rem;
  margin: auto;
  text-align: center;
  color: var(--header-color);
}

.feature-tab-2-container p {
  text-align: center;
  line-height: 1.7;
  color: var(--p-color);
}

.features-wrapper {
  margin: 2rem auto 2rem auto;
}

.features-wrapper li {
  list-style-type: none;
  color: var(--header-color);
  text-align: center;
  border-bottom: 1px solid hsl(229, 8%, 60%, 0.5);
  padding: 1.25rem 0 1.25rem 0;
  width: 100%;
  cursor: pointer;
}

.features-wrapper li:first-child {
  border-top: 1px solid hsl(229, 8%, 60%, 0.5);
}

/* tab-3 */
.feature-tab-3-container {
  margin: auto auto 4rem auto;
  width: 90%;
}

.features-tab-3-img-wrapper {
  margin-bottom: 3rem;
}

.feature-tab-3-container h2 {
  font-size: 1.6rem;
  margin: auto;
  text-align: center;
  color: var(--header-color);
}

.feature-tab-3-container p {
  text-align: center;
  line-height: 1.7;
  color: var(--p-color);
}

/* tab-4 */
.feature-tab-4-container {
  margin: auto auto 4rem auto;
  width: 90%;
}

.feature-tab-4-container h2 {
  font-size: 1.6rem;
  margin: auto;
  text-align: center;
  color: var(--header-color);
}

.feature-tab-4-container p {
  text-align: center;
  line-height: 1.7;
  color: var(--p-color);
}

/* 
extension container within tab-4 */
.extension-container {
  margin: 3rem auto 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.extension-wrapper {
  box-shadow: 1px 4px 10px 0 hsl(229, 8%, 60%, 0.3);
  border-radius: 10px;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.extension-img-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.extension-img {
  margin: auto;
  display: flex;
  padding: 2rem;
}

.extension-img-wrapper h3 {
  margin: auto auto auto auto;
}

.extension-img-wrapper p {
  margin: 0.5rem auto 2rem auto;
}

.divider {
  width: 100%;
  padding-bottom: 1.5rem;
}

.add-btn-wrapper {
  margin: auto;
  padding-bottom: 1.5rem;
}

.install-btn {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 1px 4px 10px 0 hsl(229, 8%, 60%, 0.3);
  cursor: pointer;
}

/* faq-container */
.faq-container {
  margin: auto auto 8rem auto;
  width: 90%;
}

.faq-container h2 {
  font-size: 1.6rem;
  margin: auto;
  text-align: center;
  color: var(--header-color);
}

.faq-container p {
  text-align: center;
  line-height: 1.7;
  color: var(--p-color);
}

.faq-accordion-container {
  display: flex;
  flex-direction: column;
}

.faq-wrapper {
  border-bottom: 1px solid hsl(229, 8%, 60%, 0.5);
}

.faq-question-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faq-question-wrapper h3 {
  font-weight: 400;
  font-size: 1rem;
}

.dropdown-arrow-inactive {
  height: 15px;
  width: 20px;
  cursor: pointer;
  margin-top: 1.45rem;
  transition: all linear 0.2s;
}

.dropdown-arrow-active {
  height: 15px;
  width: 20px;
  cursor: pointer;
  margin-top: 1.45rem;
  transform: rotate(180deg);
  color: hsl(0, 94%, 66%);
  transition: all linear 0.2s;
}

.faq-answer-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: all linear 0.2s;
}

.faq-answer-wrapper-active {
  max-height: 10rem;
  transition: all linear 0.2s;
}

.more-info-btn {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 1px 4px 10px 0 hsl(229, 8%, 60%, 0.3);
  cursor: pointer;
  margin: 3rem auto auto auto;
  display: flex;
}

/* sign-up-container */
.sign-up-container {
  background-color: hsl(231, 69%, 60%);
  width: 100%;
  margin: auto;
}

.already-joined {
  color: white;
  margin: 4rem auto 1rem auto;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 400;
}

.sign-up-container h3 {
  color: white;
  margin: auto auto 2rem auto;
  text-align: center;
  font-size: 1.75rem;
  width: 80%;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  position: relative;
}

.sign-up-form input {
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  padding-left: 1.5rem;
  font-size: 1rem;
  padding-bottom: 0;
}

.sign-up-form-input-error {
  height: 2rem;
  border-radius: 5px 5px 0 0;
  border: none;
  padding-left: 1.5rem;
  font-size: 1rem;
  padding-bottom: 0;
  border: 3px solid hsl(0, 94%, 66%);
}

.input-error-notice-inactive {
  display: none;
}

.input-error-notice-active {
  display: inline-block;
  position: absolute;
  margin: 8px auto auto 90%;
}

.error-message {
  display: inline-block;
  color: white;
  background-color: hsl(0, 94%, 66%);
  padding-top: 0;
  margin-top: 0;
  font-size: 12px;
  font-weight: 400;
  padding: 0.5rem 0 0.5rem 1rem;
  border-radius: 0 0 5px 5px;
}

.error-message-inactive {
  display: none;
}

.contact-btn {
  margin: 1rem auto 3rem auto;
  width: 100%;
  background-color: hsl(0, 94%, 66%);
  color: white;
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

/* footer */
.footer-container {
  background-color: hsl(229, 31%, 21%);
}

.footer-logo {
  color: white;
  transform: scale(1.1);
  display: flex;
  margin: 2rem auto 2rem auto;
}

.footer-nav-wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  margin: auto auto 2rem auto;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
}

.footer-nav-wrapper h4 {
  cursor: pointer;
}

.social-logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

/* mobile modal */
#modal {
  background-color: hsl(229, 31%, 21%, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
}

.modal-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 3rem auto auto auto;
}

.modal-logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.close-modal-icon {
  cursor: pointer;
}

.modal-options-wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.modal-option {
  border-bottom: 1px solid hsl(229, 8%, 60%, 0.5);
  padding: 1rem 0 1rem 0;
  cursor: pointer;
  margin: 0rem auto 0rem auto;
  width: 100%;
  letter-spacing: 3px;
}

.modal-option:first-of-type {
  border-top: 1px solid hsl(229, 8%, 60%, 0.5);
  padding-top: 1rem;
}

.modal-login-btn {
  background-color: transparent;
  padding: 1rem 0 1rem 0;
  border: 2px solid white;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 3px;
  border-radius: 5px;
}

.modal-social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 18rem;
}
