body {
  background-color: hsl(228, 33%, 97%);
}

.comments-container {
  width: 100%;
  margin: auto;
}

.comment-wrapper {
  background-color: white;
  width: 90%;
}

.add-comment-container {
  background-color: white;
  padding: 1rem;
  width: 90%;
  border-radius: 10px;
}

.make-comment {
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgb(201, 201, 201);
  resize: none;
  padding: 1rem;
}

.make-comment::placeholder {
  transform: translateY(1rem);
  text-indent: 10px;
}

.send-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar-img {
  height: 40px;
  width: 40px;
  margin: 1rem auto auto 1rem;
}

.send-btn {
  margin: 1rem 1rem auto auto;
  border: none;
  border-radius: 10px;
  background-color: hsl(238, 40%, 52%);
  color: white;
  width: 100px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}
