@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  background-color: hsl(228, 33%, 97%);
  font-family: "Rubik", sans-serif;
}

.comments-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.comment-wrapper {
  background-color: white;
  width: 90%;
  padding: 0.5rem;
  margin: auto auto 1rem auto;
  border-radius: 5px;
}

.user-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin: auto auto auto 1rem;
}

.avatar-img {
  height: 40px;
  width: 40px;
}

.user-wrapper h2 {
  font-size: 18px;
}

.user-wrapper p {
  color: hsl(211, 10%, 45%);
}

.comment {
  margin: auto auto auto 1rem;
  width: 90%;
}

.comment p {
  line-height: 1.5;
  color: hsl(211, 10%, 45%);
}

.like-reply-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
}

.like-number-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: hsl(228, 33%, 97%);
  border-radius: 10px;
  height: 2rem;
  width: 5rem;
}

.like-number-wrapper p {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}

.like-number-wrapper span {
  color: hsl(239, 57%, 85%);
  cursor: pointer;
}

.reply-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: hsl(238, 40%, 52%);
  margin: 0 0 auto auto;
  font-weight: 700;
}

.add-comment-container {
  background-color: white;
  padding: 0.5rem;
  width: 90%;
  border-radius: 10px;
  margin: auto;
}

.make-comment {
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgb(201, 201, 201);
  resize: none;
  padding: 1rem;
}

.make-comment::placeholder {
  transform: translateY(1rem);
  text-indent: 10px;
  font-weight: 500;
}

.send-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar-img-comments {
  height: 40px;
  width: 40px;
  margin: 1rem auto auto 1rem;
}

.send-btn {
  margin: 1rem 1rem auto auto;
  border: none;
  border-radius: 10px;
  background-color: hsl(238, 40%, 52%);
  color: white;
  width: 100px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}
