@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,300&display=swap");

body {
  background-color: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
}

.tracker-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 1.5rem;
  width: 90%;
  margin: 2rem auto 2rem auto;
}

.profile-card {
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
}

.pic-name-container {
  display: grid;
  grid-template-rows: 0.25fr 1fr;
  grid-template-columns: 0.4fr 1fr;
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
}

.profile-img {
  height: 60px;
  width: 60px;
  border: 2px solid white;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1 / -1;
  margin: 1.5rem 0 auto auto;
}

.pic-name-container p {
  grid-column: 2;
  grid-row: 1;
  margin: 2rem auto 0 1rem;
  color: hsl(236, 100%, 87%);
}

.pic-name-container h2 {
  grid-column: 2;
  grid-row: 2;
  margin: 0 auto 2rem 1rem;
  color: white;
  font-weight: 400;
}

.time-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: hsl(235, 45%, 61%);
}

.time-frame p {
  cursor: pointer;
  padding: 0.5rem 0;
}

.time-frame p:hover {
  color: white;
}

/* css re-used amongst other cards */
.card-container {
  display: grid;
  grid-template-rows: 0.25fr 1fr;
  border-radius: 10px;
}

.card-details {
  background-color: hsl(235, 46%, 20%);
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.6fr 1fr;
  border-radius: 10px;
  cursor: pointer;
}

.card-details:hover {
  color: hsl(235, 45%, 61%);
}

.section-title {
  font-size: 18px;
  color: white;
  grid-column: 1;
  grid-row: 1;
  margin: auto auto 0 1.5rem;
}

.section-hours {
  color: white;
  font-size: 36px;
  grid-column: 1;
  grid-row: 2;
  margin: 0.35rem auto 0 1.5rem;
  font-weight: 300;
}

.ellipses {
  color: hsl(236, 100%, 87%);
  grid-column: 2;
  grid-row: 1;
  margin: auto 1.5rem 0 auto;
  font-size: 35px;
  cursor: pointer;
}

.ellipses:hover {
  color: white;
}

.last-week-hours {
  color: hsl(236, 100%, 87%);
  grid-column: 2;
  grid-row: 2;
  margin: 1rem 1.5rem auto auto;
}

/* section-specifics */

.work {
  background-image: url("./time-tracking-dashboard-main/images/icon-work.svg");
  background-color: hsl(15, 100%, 70%);
}

.play {
  background-color: hsl(195, 74%, 62%);
  background-image: url("./time-tracking-dashboard-main/images/icon-play.svg");
}

.study {
  background-color: hsl(348, 100%, 68%);
  background-image: url("./time-tracking-dashboard-main/images/icon-study.svg");
}

.exercise {
  background-color: hsl(145, 58%, 55%);
  background-image: url("./time-tracking-dashboard-main//images/icon-exercise.svg");
}

.social {
  background-color: hsl(264, 64%, 52%);
  background-image: url("./time-tracking-dashboard-main/images/icon-social.svg");
}

.self-care {
  background-color: hsl(43, 84%, 65%);
  background-image: url("./time-tracking-dashboard-main/images/icon-self-care.svg");
}
