@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: hsl(0, 6%, 91%);
}

.to-do-container {
  display: flex;
  flex-direction: column;
}

/* header (h1 & create-list-item input) */
.header-container {
  background-image: url("./todo-app-main/images/bg-mobile-light.jpg");
  background-size: cover;
  padding-bottom: 2rem;
  width: 100%;
}

.header-wrapper {
  width: 90%;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header h1 {
  letter-spacing: 10px;
  color: white;
  font-size: 40px;
  margin: 4rem auto 2rem 0;
}

.header img {
  margin: 2rem 0 2rem auto;
  height: 30px;
  width: 30px;
}

#theme-icon {
  cursor: pointer;
}

.new-to-do-form {
  margin: 1.5rem auto 3.5rem auto;
}

.create-to-do {
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: 1rem;
}

/* rendered list items */
.list-items-container {
  background-color: white;
  width: 90%;
  border-radius: 5px;
  margin: -3rem auto auto auto;
}

#toDoList {
  padding: 0;
  margin: 0;
}

.list-item-wrapper {
  border-bottom: 1px solid black;
  padding: 1.5rem;
  width: 89%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: hsl(237, 14%, 26%);
}

.list-item-wrapper-dark {
  border-bottom: 1px solid black;
  padding: 1.5rem;
  width: 89%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.list-item {
  cursor: pointer;
}

.cross-icon {
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.number-clear-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 0.5rem;
  color: hsl(236, 9%, 61%);
}

.filters-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  width: 90%;
  margin: 1rem auto auto auto;
  border-radius: 5px;
}

.clear-completed {
  cursor: pointer;
}

.filters-wrapper p {
  cursor: pointer;
  color: hsl(236, 9%, 61%);
  font-weight: 700;
}

.filters-wrapper p:hover {
  color: hsl(220, 98%, 61%);
}

.drag-drop {
  margin: 2rem auto auto auto;
  color: hsl(236, 9%, 61%);
}
